In [2]:
import numpy as np
import pandas as pd

In [6]:
labels = ['a','b','c','d']
my_data = [10,20,30,40]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30,'d':40}

In [7]:
pd.Series(data=my_data)

0    10
1    20
2    30
3    40
dtype: int64

In [8]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
d    40
dtype: int64

In [9]:
pd.Series(d)

a    10
b    20
c    30
d    40
dtype: int64

In [10]:
np.random.seed(101)

In [11]:
df = pd.DataFrame(np.random.randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [13]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [14]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [15]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [16]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [20]:
df[df['W']>0]["X"]

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64